body {
  background: linear-gradient(to right, cyan, lightblue, rgb(98, 98, 231));
}

header {
  font-size: 3em;
  text-align: center;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial;
  padding-top: 20px;
  padding-bottom: 40px;
  font-weight: bolder;
}

#container {
  width: 450px;
  height: 450px;
  margin: auto;
}

input {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-spacing: 0;
  border: 2px solid gray;
  font-size: 35px;
  font-family: Montserrat, "Helvetica Neue", Helvetica;
  font-weight: bold;
  text-align: center;
}

.box {
  background-color: wheat;
}

#button {
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 20px;
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
  font-size: 23px;
  color: black;
  background: gold;
  padding: 5px 12px 5px 12px;
  margin-left: 47%;
  margin-top: 2em;
}

#button:hover {
  cursor: pointer;
  background: #661212;
  color: white;
}
